---
import HalftoneCanvas from "../components/HalftoneCanvas.astro";
import InfoPanels from "../components/InfoPanels.astro";
import SysFooter from "../components/SysFooter.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="flex flex-col h-dvh">
    <HalftoneCanvas />
    <InfoPanels />
    <SysFooter />
  </main>
</BaseLayout>
