---
import HalftoneCanvas from "../components/HalftoneCanvas.astro";
import InfoPanels from "../components/InfoPanels.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="flex flex-col h-dvh pt-[60px] pb-[40px]">
    <HalftoneCanvas />
    <InfoPanels />
  </main>
</BaseLayout>
